@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url('/fonts/futura/bold.eot?#iefix');
  src: url('/fonts/futura/bold.eot?#iefix') format('eot'),
    url('/fonts/futura/bold.woff2') format('woff2'),
    url('/fonts/futura/bold.woff') format('woff'),
    url('/fonts/futura/bold.ttf') format('truetype');
}
